@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  margin: 20px;
}

.cell {
  position: relative;
  background-color: black;
  border: 7px solid;
  cursor: pointer;
  border-image: linear-gradient(
      45deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    )
    1;
}

.cell.cross::after {
  content: "X";
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 10rem;
}

.cell.circle::after {
  content: "O";
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  font-size: 10rem;
}

.summary p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* Overlay styling */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  cursor: pointer;
}

.none {
  display: none;
}

.button {
  background-image: linear-gradient(
    to right,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.button:active {
  transform: scale(0.95);
}
